
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center; 
    background-image: linear-gradient(to bottom right, rgb(157, 188, 231), rgb(235, 235, 241))
}

header {
    background-image: url(assets/head.jpg);
    color:white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 80vw;
    margin: 20px;
    padding: 2px;
    justify-self: center;
}

h1 {
    text-align: center;
}

.question {
    background-color: rgb(50, 70, 158);
    color: white;
    text-align: center;
    font-size: 3.5vw;
    width: 70%;
    height: 10%;
    justify-self: center;
    align-self: center;
    padding: 5px;
    flex-flow: row nowrap;
}

ul {
    list-style-type: none;
}

.qrow:first-child {
    margin-bottom: 0; 
    padding-bottom: 0;
}

.qrow:nth-child(2) {
    margin-top: 0; 
}

.qgrid {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.qrow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 5px;
}

ul.qrow li {
    margin: 5px;
}

input[type=radio] {
    display: none;
}

input:checked {
    opacity: 0.2;
    background-color: blue;

}

img:hover {
    transform: scale(1.05);
}

img {
    height: 200px;
    width: 200px;
}

button {
    width: 200px;
    align-self: center;
    background-color: rgb(238, 85, 85);
    font-size: 20px;
    margin: 10px;
    border-radius: 40px;
}

.result {
    background-image: linear-gradient(to bottom right, rgb(247, 24, 8), rgb(98, 36, 168));
    border: 2px dotted wheat;
    color: aliceblue;
    text-align: center;
    font-size: 3.5vw;
    width: 60%;
    height: 10%;
    justify-self: center;
    align-self: center;
    padding: 5px;
}